*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.wrapper{
    height: 100vh;
}

.section{
    width:300px;
    height: min-content;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.505);
    padding: 20px;
    border-radius: 10px;
}
.button{
    text-align: center;
}
.text{
    text-align: center;
}

.verify{
    text-align: center;
}
.Forgot-link{
    
    background-color: rgb(98, 255, 0);
    border-radius: 5px;
   
}

