*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.Homepage-wrap{
    width: 100vw;
    height: max-content;
    background-color: rgb(209, 232, 226);
    color: rgb(1, 91, 82);
    padding-top: 50px;
}

.top-header{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
}
.gap{
    width: 90%;
    height: 5px;
    background-color: rgb(206, 184, 18);
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}
.middle-part{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
}
.d-details{
    width: 50vw;
    height: max-content;
    background-color: white;
    border-radius: 50px ;
    margin: auto;
    font-size: 20px;
    padding-top: 20px;
    font-weight: bold; 
    margin-bottom: 20px;
    padding-bottom: 30px;
}
.d-details-2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.dlist{
    margin-left: 50px;
    text-align: left;
    text-decoration: none;    
}
#images{
    width: 150px;
    height: 150px;
}
